.header-main {
  min-height: 85vh;
  background: whitesmoke;
  color: #052033;
}
h1 {
  font-size: 60px;
  font-weight: 700;
}
h1 span {
  font-size: 65px;
  font-weight: 800;
  background: linear-gradient(-45deg, #7e20f6, #f37121);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.coverImage {
  height: 220px;
  border-radius: 15px;
  transition: 1s ease-in-out;
}
.coverImage:hover {
  transform: scale(1.2);
  transition-timing-function: ease-in-out;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 35px;
  }
  h1 span {
    font-size: 40px;
  }
}
