.adminPage {
  height: 100%;
  min-height: 100vh;
}
.adminPage li {
  margin-bottom: 2em;
}
.adminPage li:hover span {
  display: inline-block;
  transform: translate(5px);
}
.adminPage svg {
  margin-right: 5px;
}

@media screen and (max-width: 600px) {
  .adminPage {
    height: auto;
  }
  .adminPage li {
    margin-bottom: 1vh;
  }
}
